

<!DOCTYPE html>
<html>
<head>
<title>Attenuator Controller</title>
</head>
<body>
<h1>Attenuator Controller</h1>
<form action="/update_attenuation" method="post">
<label for="channel_1">Channel 1:</label>
<input type="range" id="channel_1" name="attenuation" min="0" max="95" value="0">
<br>
<label for="channel_2">Channel 2:</label>
<input type="range" id="channel_2" name="attenuation" min="0" max="95" value="0">
<br>
<label for="channel_3">Channel 3:</label>
<input type="range" id="channel_3" name="attenuation" min="0" max="95" value="0">
<br>
<label for="channel_4">Channel 4:</label>
<input type="range" id="channel_4" name="attenuation" min="0" max="95" value="0">
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>


